@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

body {
  background-image: url(https://unsplash.it/1400/795);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #3e363f;
  font-family: "Lato", sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.transition-group-enter {
  opacity: 0;
}
.transition-group-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.transition-group-exit {
  opacity: 1;
}
.transition-group-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}